<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>277597892727-3nt8bfu8nsb6ov1aefc7nsfrmvo95rr4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.277597892727-3nt8bfu8nsb6ov1aefc7nsfrmvo95rr4</string>
	<key>API_KEY</key>
	<string>AIzaSyBXl7xo9dbvmwm0LOJw5cpPc4e7_gkDDYc</string>
	<key>GCM_SENDER_ID</key>
	<string>277597892727</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mayeaux.whatsappClone</string>
	<key>PROJECT_ID</key>
	<string>whatsappclone-6c7cb</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsappclone-6c7cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:277597892727:ios:175d31032c96b3d5dc9672</string>
</dict>
</plist>